In [ ]:
DataFarme:
       A datafarme is two dimensional data structure, data is aligned in a tabular fasion in rows and columns

In [ ]:
#Gernal Syantax

 pandas.DataFarmes(data,index,column,dtype)

In [2]:
import numpy as np
import pandas as pd

In [ ]:
#req: Creating an empty Datafarme

In [4]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
Creating a data frame from a list;

In [5]:
data = [1,2,3,4,5]

In [6]:
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [10]:
data = [['papi',10],['krithika',9],['ibrahim',8],['priya',9],['raj',8]]

In [11]:
df = pd.DataFrame(data,columns=['Names','Marks'])
print(df)

      Names  Marks
0      papi     10
1  krithika      9
2   ibrahim      8
3     priya      9
4       raj      8

In [12]:
data = [['papi',10],['krithika',9],['ibrahim',8],['priya',9],['raj',8]]

In [14]:
df = pd.DataFrame(data)
print(df)

          0   1
0      papi  10
1  krithika   9
2   ibrahim   8
3     priya   9
4       raj   8

In [15]:
data = [['papi',10],['krithika',9],['ibrahim',8],['priya',9],['raj',8]]

In [19]:
df = pd.DataFrame(data,columns = ['Names','Marks'], index = ['rank1','rank2','rank3','rank4','rank5'])
print(df)

          Names  Marks
rank1      papi     10
rank2  krithika      9
rank3   ibrahim      8
rank4     priya      9
rank5       raj      8

In [ ]:
Creating a data frame by using a dictonary of ndarrays

In [20]:
data = {'Name':['jayshree','haripriya','priya','raj'],'points':[100,95,90,85]}

In [21]:
df = pd.DataFrame(data)
print(df)

        Name  points
0   jayshree     100
1  haripriya      95
2      priya      90
3        raj      85

In [22]:
data = [{'a':1,'b':2},{'a':5,'b':8,'c':10}]

In [23]:
df = pd.DataFrame(data,index = ['first','second'])
print(df)

        a  b     c
first   1  2   NaN
second  5  8  10.0