In [1]:
my_students = ['sagarika','zainab','raju','shadaad','niranjan','prasad','reema','jyotshna']

In [2]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shadaad', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [3]:
type(my_students)

list

In [4]:
#slicing 2 person in a single group

In [6]:
#var[statvalue: stopvalue : stepcount]

In [11]:
print(my_students[0:1])

['sagarika']

In [12]:
print(my_students[1:2])

['zainab']

In [13]:
print(my_students[0:2])

['sagarika', 'zainab']

In [16]:
print(my_students[3:5])

['shadaad', 'niranjan']

In [17]:
len(my_students)

8

In [20]:
print(my_students[6:9])

['reema', 'jyotshna']

In [21]:
#to consider every alternative name in the list

In [22]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shadaad', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [23]:
print(my_students[0:7:1])

['sagarika', 'zainab', 'raju', 'shadaad', 'niranjan', 'prasad', 'reema']

In [27]:
print(my_students[0:8:2])

['sagarika', 'raju', 'niranjan', 'reema']

In [30]:
print(my_students[0:8:3])

['sagarika', 'shadaad', 'reema']

In [31]:
#nEGATIVE INDEXING

In [35]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shadaad', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [36]:
print(my_students[-7])

zainab

In [37]:
print(my_students[1])

zainab

In [38]:
print(my_students[-8])

sagarika

In [39]:
#LISTIN REVERSE ORDER

In [40]:
print(my_students)

['sagarika', 'zainab', 'raju', 'shadaad', 'niranjan', 'prasad', 'reema', 'jyotshna']

In [42]:
print(my_students[::-1])

['jyotshna', 'reema', 'prasad', 'niranjan', 'shadaad', 'raju', 'zainab', 'sagarika']

In [53]:
#range functions

In [59]:
number = list(range(1,30))

In [58]:
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [60]:
number = list(range(1,50))

In [61]:
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [62]:
#even numbers

In [73]:
even_number = list(range(2,31,2))

In [74]:
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [75]:
#odd number

In [82]:
odd_number = list(range(2,31,2))

In [83]:
print(odd_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [84]:
odd_number = list(range(3,31,2))

In [86]:
print(odd_number)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]